<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Boards</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Boards Detail</h2>
  </div>
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="board" #editForm="ngForm" (ngSubmit)="save()">
    
      <div class="form-group">
        <label>Id</label>
        {{board._id || 'n/a'}} 
      </div>
    
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="board.name" id="name" name="name" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="lists">Lists</label>
        <input [(ngModel)]="board.lists" id="lists" name="lists" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="owner">Owner</label>
        <input [(ngModel)]="board.owner" id="owner" name="owner" class="form-control">
      </div>
    
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
